__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.env.*
!.env.example

.venv/
venv/
env/
hospital-chatbot-backend/chatbotvenv/
chatbotvenv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.sqlite3
*.db

.DS_Store
Thumbs.db
